<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer id="footer">
    <div class="contact">
        <li>
            <p>By Michmich16™</p>
        </li>
        <li>
            <p>email: michael&#64;email.com</p>
        </li>
        <li>
            <p>tel: +45 12312121</p>
        </li>
    </div>
    <div class="soMe">
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-linkedin"></a></li>
        <li><a href="#" class="fa fa-github"></a></li>
    </div>
</footer>